@font-face {
  font-family: 'LTWaveMono';
  src: url("./assets/Fonts/LTWaveMono-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'LTWaveMono', monospace;
}

.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
}